<nav [class.scrolled]="isScrolled">
  <div class="sidebar-toggle" (click)="toggleSidebar()">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
  <div class="logo-container">
    <img src="assets/images/app-logo.jpeg" alt="Nutriomedics Logo" class="logo-img">
  </div>
  <ul class="nav-links">
    <li *ngFor="let link of navLinks">
      <a [routerLink]="link.route" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: link.route === '/' }">
        {{ link.label }}
      </a>
    </li>
  </ul>
  <div class="nav-contact">
    <a routerLink="/contact" routerLinkActive="active">Contact</a>
  </div>
</nav>
<app-sidebar [isOpen]="isSidebarOpen" (closeEvent)="closeSidebar()"></app-sidebar>
